    <div class="invoice-action">
        <p data-ng-click="switch='create' " data-ng-class="{'invoice-action-add-active':switch=='create'}" class="invoice-action-add">Create An Invoice</p>
        <p data-ng-click="switch='data' " data-ng-class="{'invoice-action-view-active':switch=='create'}" class="invoice-action-view">View Invoice List</p>
    </div>

    <div data-ng-switch-default="data" class="invoice-data dash-create-animate">
        <h2>Invoice Data Placeholder</h2>
    </div>

    <div data-ng-switch-when="create" class="invoice-create dash-create-animate">

        <section class="invoice-create-data">
            <h3 class="invoice-create-data-header">Let's Create a New Invoice:</h3>
            <form name="spk.newinvoice" novalidate data-ng-model-options="{updateOn: 'blur'}" data-ng-submit="spk.createNewInvoice(spk.newinvoice)" class="invoice-form">

            <!-- Clients -->
            <fieldset class="invoice-form-field">
                <select name="client" data-ng-model="spk.newinvoice.client" data-ng-keyup="cancel($event)" data-ng-options="client.fullname for client in spk.clients" data-ng-change="spk.selectedClient(spk.newinvoice.client)" data-ng-model-options="{updateOn: 'default'}" data-required class="invoice-form-select">
                    <option value="" ng-if="false"></option>
                </select>
<!--                 <ng-messages for="spk.newinvoice.client.$error" class="invoice-form-messages">
                    <ng-message when="required" class="invoice-form-messages-required">Required</ng-message>
                    <p data-ng-class="{ 'invoice-form-messages-valid':spk.newinvoice.client.$valid}" class="invoice-form-messages-hide-valid">Cool, looks good!</p>
                </ng-messages> -->
            </fieldset>

            <!-- Jobs -->
            <p class="invoice-form-header">Pick One or Several Jobs:</p>
            <fieldset data-ng-form="clientJobs" class="invoice-form-field">
                <div data-ng-repeat="job in spk.jobs" class="invoice-form-item">
                    <input type="checkbox" name="{{job.$id}}" data-ng-model="spk.newinvoice.client.jobs[job.$id]" data-ng-true-value=" '{{job.$id}}' " id="job-checkbox" class="invoice-form-item-checkbox">
                    <label for "job-checkbox" class="invoice-form-item-label">
                        <p>{{job.service.service}}:  {{job.date}}</p>
                        <p>Quoted Price: ${{job.quote}}</p>
                    </label>
                </div>
            </fieldset>
        </section>

        <!-- Preview -->
        <section class="invoice-create-preview">
            <h3 class="invoice-create-preview-header">Invoice Preview:</h3>
            <div class="invoice-create-preview-content">
                <div  class="invoice-create-preview-content-user">
                <p class="invoice-create-preview-content-header">Invoice From:</p>
                <p>{{spk.user.companyname}}</p>
                <p>{{spk.user.addressone}} {{spk.user.addresstwo}}</p>
                <p>{{spk.user.city}}, {{spk.user.state.abbreviation}}  {{spk.user.zip}}</p>
            </div>
                <div  class="invoice-create-preview-content-client">
                    <p class="invoice-create-preview-content-header">Invoice For:</p>
                    <p>{{spk.newinvoice.client.fullname}}</p>
                    <p>{{spk.newinvoice.client.street}}</p>
                    <p>{{spk.newinvoice.client.city}}, {{spk.newinvoice.client.state.abbreviation}}  {{spk.newinvoice.client.zip}}</p>
                </div>
            </div>

    <!-- <pre>Jobs JSON: {{spk.newinvoice.clientJobs | json}}</pre> -->
        </section>
    </div>