.dash-animate {
  @include transition-property(transform);
  @include transition-duration(.75s);
  @include transition-timing-function(cubic-bezier(0.250, 0.460, 0.450, 0.940) );
}
.dash-animate.ng-enter {
  @include transition-delay(.25s);
  @include translate3d(-125%, 0, 0);
  height: 0px;
}
.dash-animate.ng-enter.ng-enter-active {
  @include translate3d(0, 0, 0);
  // height: 100%;
}
.dash-animate.ng-leave {
  @include translate3d(0, 0, 0);
  height: 100%;
}
.dash-animate.ng-leave.ng-leave-active {
  @include translate3d(-125%, 0, 0);
  height: 0px;
}
