.signup {

/////////////////////////////////////////////////

    &-form {
        @extend %data-entry;
    }

/////////////////////////////////////////////////

    &-header {
        @extend %data-entry-header;
    }

/////////////////////////////////////////////////

    &-field {
        @extend %data-entry-fieldset;
        &-small {
            @extend %data-entry-fieldset-small;
        }
    }

/////////////////////////////////////////////////

    &-input {
        @extend %data-entry-input;
        &:focus {
            & ~ .signup-label { //pay attention to this!!
                color: setcolor(teal);
                @extend %animate-helper;
                @include translate3d(50%, 0, 0);
                @include transition-duration(1.75s);
                @include susy-breakpoint($bp-medium-large, $columns-medium-large) {
                    @include translate3d(100%, 0, 0);
                }
            }
        }
    }

/////////////////////////////////////////////////

    &-label {
        @extend %data-entry-label;
        &.filled {
            @extend %data-entry-label-filled;
        }
        &-text {
            @extend %data-entry-label-text;
        }
    }

/////////////////////////////////////////////////

    &-messages {
        @extend %data-entry-messages;
        &-required {
            @extend %data-entry-messages-required;
        }
        &-generic {
            @extend %data-entry-messages-generic;
        }
        &-hide-valid {
            @extend %data-entry-messages-hide-valid;
        }
        &-valid {
            @extend %data-entry-messages-valid;
        }
    }

/////////////////////////////////////////////////

    &-services {
        position: relative;
        &-header {
            @include span(12 wide of 12 no-gutters);
            @extend %t-large;
            @include type-weight(bold);
            text-align: center;
            margin: rhythm(1, 16px) 0;
            font-family: $Roboto-Light;
            border-bottom: .1em solid rgba(setcolor(green, darker), .5);
            @include susy-breakpoint($bp-medium-large, $columns-medium-large) {
                text-align: left;
            }
        }
        &-select {
            @extend %button-basics;
            @include expando-hover(green, lighter, .25);
            @include span(10 wide of 12 no-gutters);
            position: relative;
            margin: rhythm(.75, 16px) rhythm(.5, 16px);
            padding: rhythm(.77, 16px) 0;
            min-height: rhythm(2, 16px);
            @include susy-breakpoint($bp-medium-large, $columns-medium-large) {
                @include span(6 of 12);
                @include type-scale(small);
            }
        }
        &-text {
            width: 100%;
            float: left;
            margin: 0 0 rhythm(1, 16px) 0;
        }
        &-button {
            @include span(12 wide of 12 no-gutters);
            @extend %button-basics;
            @extend %button-lifter;
            @extend %no-focus-outline;
            @include expando-hover(green, lighter, .25);
        }
        &-popup {
            display: none;
            position: absolute;
            top: -345px;
            left: 0;
            z-index: 49;
            background: setcolor(white);
            border: .1em solid rgba(setcolor(green), .75);
            border-radius: .25em;
            max-height: 275px;
            @include box-shadow(0px 0px 12px 0px rgba(setcolor(teal, darker), .5));
            overflow: auto;
            @include susy-breakpoint($bp-medium-large, $columns-medium-large) {
                left: 25px;
                min-width: span(4 of 12);
            }
            &-show {
                display: block;
            }
        }
        &-item {
            min-height: rhythm(1, 16px);
            position: relative;
            @include span(12 wide of 12 no-gutters);
            padding: 0 rhythm(.5, 16px);
            &:hover {
                background: rgba(setcolor(green, lighter), .25);
            }
            &:first-of-type {
                border-top: .1em solid rgba(setcolor(green), .75);
            }
            @include susy-breakpoint($bp-medium-large, $columns-medium-large) {
                margin-bottom: 0;
            }
            &-checkbox {
                position: absolute;
                left: 0px;
                width: 100%;
                opacity: 0;
                z-index: 2;
                margin: 0;
                min-height: inherit;
                cursor: pointer;
                &:checked + .signup-services-item-label {
                    background: rgba(setcolor(green, lighter), .75);
                }
                &-remote {
                    & + .signup-services-item-label {
                        background: rgba(setcolor(green, lighter), .75);
                    }
                }
            }
            &-label {
                position: absolute;
                left: 0px;
                width: 100%;
                min-height: inherit;
                padding: rhythm(.25, 16px) 0 0 1em;
                @include susy-breakpoint($bp-medium-large, $columns-medium-large) {
                    padding: rhythm(.25, 16px) 0 0 1em;
                    @include type-scale(small);
                }
            }
        }
    }

/////////////////////////////////////////////////

    &-button {
        @include span(12 wide of 12 no-gutters);
        overflow: hidden;
    }

/////////////////////////////////////////////////

    &-submit {
        @extend %data-entry-submit;
        &-disabled {
            @extend %data-entry-submit-disabled;
        }
        &-success {
            @extend %data-entry-submit-success;
        }
        &-wait {
            @extend %data-entry-submit-wait;
        }
    }

/////////////////////////////////////////////////

    &-select {
        @extend %button-basics;
        @extend %button-lifter;
        @extend %no-focus-outline;
        @include expando-hover(green, lighter, .25);
        width: 100%;
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
    }


}