.invoice {
    @extend %dash-view;
    &-action {
        @extend %dash-action;
        &-add {
            @extend %dash-action-add-button;
            &-active {
                @extend %dash-action-add-active-button;
            }
        }
        &-view {
            @extend %dash-action-view-button;
            &-active {
                @extend %dash-action-view-active-button;
            }
        }
    }
    &-data {
        @extend %dash-data;
    }
    &-create {
        @include span(12 wide of 12 no-gutters);
        &-header {
            @extend %dash-create-header;
        }
        &-data {
            @include susy-breakpoint($bp-medium-large, $columns-medium-large) {
                @include span(12 of 24)
            }
            &-header {
                @extend %dash-create-header;
                margin: 0 0 rhythm(1, 16px) 0;
            }
        }
        &-preview {
            min-height: 250px;
            @include susy-breakpoint($bp-medium-large, $columns-medium-large) {
                @include span(12 of 24)
            }
            &-header {
                @extend %dash-create-header;
                margin: 0 0 rhythm(1, 16px) 0;
            }
            &-content {
                @extend %t-small;
                @include span(12 wide of 12 no-gutters);
                padding: rhythm(1, 16px) span(1 of 24);
                border: .1em solid rgba(setcolor(teal, darker), .5);
                border-radius: .1em;
                &-header {
                    border-bottom: .1em solid rgba(setcolor(teal, darker), .5);
                }
                &-user {
                    @include span(6 of 12);
                }
                &-client {
                    @include span(6 of 12);
                }
            }
        }
    }
    &-form {
        @include span(12 wide of 12 no-gutters);
        &-field {
            width: 100%;
            float: left;
            max-height: rhythm(6, 16px);
            overflow: auto;
        }
        &-select {
            @extend %button-basics;
            @extend %button-lifter;
            @extend %no-focus-outline;
            @extend %t-base;
            -moz-appearance: none;
            -webkit-appearance: none;
            appearance: none;
            width: 100%;
            float: left;
            &:hover {
                @include box-shadow(0px 0px 4px 0px rgba(setcolor(teal), .5));
            }
        }
        &-header {
            width: 100%;
            float: left;
            border-bottom: .1em solid rgba(setcolor(green), .5);
            margin-bottom: rhythm(1, 16px);
        }
        &-item {
            position: relative;
            @include expando-hover(green, base, .05);
            margin-bottom: rhythm(.5, 16px);
            border-bottom: .1em solid rgba(setcolor(green), .35);
            cursor: pointer;
            &-checkbox {
                position: absolute;
                left: 0px;
                width: 100%;
                height: 100%;
                opacity: 0;
                z-index: 2;
                margin: 0;
                cursor: pointer;
            }
        }
    }
}