    <div class="dash-home-hero-jobs">
        <p class="dash-home-hero-header">Today's Jobs</p>
        <div class="dash-home-hero-content-jobs"></div>
    </div>
    <div class="dash-home-hero-invoices">
        <p class="dash-home-hero-header">Past-Due Invoices</p>
        <div class="dash-home-hero-content-invoices"></div>
    </div>
    <div class="dash-home-hero-revenue">
        <p class="dash-home-hero-header">Revenue Snapshot</p>
        <div class="dash-home-hero-content-revenue"></div>
    </div>
    <h2 class="dash-home-notify-header">Field Notifications</h2>
    <div class="dash-home-notify"></div>